version: '3'
services:
  db:
    image: mysql:8.0    # MySQL 버전 선택
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: password  # root 비밀번호 설정
      MYSQL_DATABASE: testdb         # 기본 데이터베이스 이름
      MYSQL_USER: root               # MySQL 사용자 이름
      MYSQL_PASSWORD: password       # MySQL 사용자 비밀번호
    ports:
      - "3306:3306"    # 로컬과 컨테이너의 포트 연결
    volumes:
      - db-data:/var/lib/mysql       # 데이터 유지
    networks:
      - backend-network              # 네트워크 설정, Express 서버와 공유

  backend:
    build:
      context: ./server        # Dockerfile 위치
    container_name: express_app
    environment:
      DB_HOST: db             # MySQL 서비스명과 연결
      DB_USER: root           # MySQL 사용자 이름
      DB_PASSWORD: password   # MySQL 비밀번호
      DB_DATABASE: testdb     # MySQL 데이터베이스
    ports:
      - "3000:3000"    # 로컬과 Express 서버 포트 연결
    depends_on:
      - db             # MySQL 컨테이너가 먼저 실행되도록 설정
    networks:
      - backend-network

volumes:
  db-data:            # MySQL 데이터가 유지되는 볼륨

networks:
  backend-network:                   # MySQL과 Express가 공유하는 네트워크
